APP_NAME =  your_app_name
ENV = development/staging/production

DATABASE_URL = "postgresql+asyncpg://postgres:your_password@localhost:5432/your_DB_name"
TEST_DATABASE_URL = "sqlite+aiosqlite:///./test.db"

SECRET_KEY = "wlegnwgwenklw;mwengl.this_is_an_example_secret_key"
REFRESH_SECRET_KEY  = "gawrglkjwanrglknlk.this_is_an_example_refresh_secret_key"
ALGORITHM = "your_algorithm"

ACCESS_TOKEN_EXPIRE_MINUTES = 15  #example access expiry time
REFRESH_EXPIRE = 60 * 24 * 7      #example refresh lifecycle
